/*
    Template Name    : New
	Description		 : New | Multipurpose HTML5 Template
    Version          : 1.0
*/

/*
================================================
/* Table of Content
==================================================

1. Fonts - Raleway and Opensans
2. Common CSS
3. Loader CSS
4. Header Top area
5. Navigation
6. Slider Area
7. About Area
8. Counter
9. Service
10. Feature
11. Faq
12. Team 
13. Portfolio
14. Sectiion-part
15. Image-bg-section
16. Pricing
17. Blog
18. Client
19. Footer
20. Contact-US 

/*
================================================
1. Fonts - Raleway and Opensans
================================================
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,500,600,700,800,900');
/*
================================================
2. Common CSS
================================================
*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	margin-top: 0;
	text-transform: none;
	line-height:23px;
}
h1{
font-size:40px;
}
h2{
font-size:35px;
}
h3{
font-size:24px;
}
h4 {
  font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6{
font-size:16px;
}
p{
font-size:13px;
color:#666;
}
ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}
a, a:hover, a:active, a:focus {
	outline: none;
	border: none;	
	text-decoration:none;
}
a {
color:#333;
	transition: all 0.3s ease 0s;
}
a:focus, a:hover {
color:#3597db;
-webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


body, html {
	height: 100%
}
section {
    width: 100%;
    float: left;
    padding: 22px 0px 20px 0px;
}
.section-title {
    text-align: center;
    margin: 0 0 25px;
}
section h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	text-align: center;
	padding: 12px 10px 10px;
}
.section-title h2 {
	font-size: 35px;
	letter-spacing: 1.2px;
	padding:0 0 10px;
	text-transform: uppercase;
	position:relative;
}
/* --------------------------------------------- */
/* ----------->>> HELPER CLASSES  <<<----------- */
/* --------------------------------------------- */
/* |----------------[ Font Size ]--------------| */

.font-10 {
  font-size: 10px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-26 {
  font-size: 26px !important;
}
.font-28 {
  font-size: 28px !important;
}
.font-30 {
  font-size: 30px !important;
}
.font-32 {
  font-size: 32px !important;
}
.font-34 {
  font-size: 34px !important;
}
.font-36 {
  font-size: 36px !important;
}
.font-38 {
  font-size: 38px !important;
}
.font-40 {
  font-size: 40px !important;
}
.font-45 {
  font-size: 45px !important;
}
.font-40 {
  font-size: 40px !important;
}
.font-50 {
  font-size: 50px !important;
}
.font-55 {
  font-size: 55px !important;
}
.font-60 {
  font-size: 60px !important;
}
.font-70 {
  font-size: 70px !important;
}
.font-80 {
  font-size: 80px !important;
}
.font-90 {
  font-size: 90px !important;
}
.font-100 {
  font-size: 100px !important;
}
.font-150 {
  font-size: 150px !important;
}
.tx-transform{
text-transform:uppercase;
}
.font-w-1{
font-weight:100;
}
.font-w-2{
font-weight:200;
}
.font-w-6{
font-weight:600;
}
.font-w-8{
font-weight:800;
}
/* |------------[ Padding & Margin ]-----------| */

.p-0 {
  padding: 0 !important;
}
.p-5 {
  padding: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-25 {
  padding: 25px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-35 {
  padding: 35px !important;
}
.p-36 {
  padding: 36px !important;
}
.p-40 {
  padding: 40px !important;
}
.p-50 {
  padding: 50px !important;
}
.p-60 {
  padding: 60px !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-45 {
  padding-top: 45px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-60 {
  padding-top: 60px !important;
}
.pt-70 {
  padding-top: 70px !important;
}
.pt-80 {
  padding-top: 80px !important;
}
.pt-90 {
  padding-top: 90px !important;
}
.pt-100 {
  padding-top: 100px !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-25 {
  padding-bottom: 25px !important;
}
.pb-28 {
  padding-bottom: 28px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}
.pb-70 {
  padding-bottom: 70px !important;
}
.pb-80 {
  padding-bottom: 80px !important;
}
.pb-90 {
  padding-bottom: 90px !important;
}
.pb-100 {
  padding-bottom: 100px !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pr-40 {
  padding-right: 40px !important;
}
.pr-50 {
  padding-right: 50px !important;
}
.pr-60 {
  padding-right: 60px !important;
}
.pr-70 {
  padding-right: 70px !important;
}
.pr-80 {
  padding-right: 80px !important;
}
.pr-90 {
  padding-right: 90px !important;
}
.pr-100 {
  padding-right: 100px !important;
}
.plr-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
  }

.ptb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ptb-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.ptb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.ptb-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.ptb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.ptb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.ptb-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.ptb-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.ptb-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.ptb-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
.ptb-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.ptb-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}
.ptb-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
.m-0 {
  margin: 0 !important;
}
.m-5 {
  margin: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-30 {
  margin: 30px !important;
}
.m-40 {
  margin: 30px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mt-0 {
  margin-bottom: 0 !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.ml-50 {
  margin-left: 50px !important;
}
.ml-55 {
  margin-left: 55px !important;
}
.ml-60 {
  margin-left: 60px !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.mtb-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mtb-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mtb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mtb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mtb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mtb-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.mtb-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.mtb-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.mtb-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.mtb-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}
.mtb-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.mtb-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}
.mtb-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
/* |------------[ Padding & Margin End ]-----------| */
/* |------------[ Button ]-----------| */
a.btn{
    border-radius: 25px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #3597db;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3597db;
}
a.btn:hover{
color:#FFFFFF;
background:#3597db;
border:2px solid #3597db;
}
a.btn-two{
    border-radius: 25px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #fff;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}
a.btn-two:hover{
color:#000;
background:#fff;
border:2px solid #fff;
}
a.btn-blg{
color:#666;
}
a.btn-blg:hover{
color:#3597db;
}
/* |------------[ Line Height ]-----------| */
.ln-h-23{
line-height:23px;
}
.ln-h-30{
line-height:30px;
}
.ln-h-40{
line-height:40px;
}
.ln-h-50{
line-height:50px;
}
.ln-h-60{
line-height:60px;
}
.ln-h-70{
line-height:70px;
}
/* |------------[ Letter Spacing ]-----------| */
.ltr-s-1{
letter-spacing:1px;
}
.ltr-s-2{
letter-spacing:2px;
}
.ltr-s-4{
letter-spacing:4px;
}
.ltr-s-5{
letter-spacing:5px;
}
/* |------------[ Letter Spacing End ]-----------| */
/* |------------[ Color ]-----------| */
.color{
color:#3597db;
}
.color-g{
color:#777;
}
.color-g-5{
color:#555;
}
.color-bg-g{
background-color:#f8f8f8;
}
.color-w{
color:#fff;
}
.Color-b{
background-color:#3597db;
color:#fff;
padding:2px 5px;
}
.color-bg-b{
background-color:#3597db;
}
.color-bl-lt{
background-color:#2c353f;
}
/* |------------[ Color End ]-----------| */
.text-up{
text-transform:uppercase;
}
.txt-lft{
text-align:left;
}
.txt-rgt{
text-align:right;
}
.center{
text-align:center;
}
.bx-shadow{
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.12);
}
.border{
background-color:#fff;
padding:10px;
border-radius: 10px;
}

/*
================================================
3. Loader CSS
================================================
*/
#loader {
	background: url(../images/loader.gif) no-repeat center center #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999999;
}

/*
================================================
4. header-top-area
================================================
*/
.header-top-area {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	-webkit-transition: .4s;
	transition: .4s
}
.logo a {
font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 5px;
	text-transform:uppercase;
}
.logo {
	padding-top: 29px;
	padding-left:15px;
}
/*
================================================
5. Navigation
================================================
*/
.menu-bg {
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
}
.menu-bg .logo {
  padding-top: 18px;
  padding-left:15px;
  transition: all 0.3s ease 0s;
}
.navbar-default {
	background-color: inherit;
	border-color: inherit;
}
.navbar {
	border-radius: 0;
	min-height: auto;
	margin: 0;
	border: none;
	z-index: 9;
}
.navbar-collapse {
	float: right;
	margin:0;
	padding: 0;
}
.navbar-brand {
	padding: 0;
	height: auto;
}
.navbar-nav > li {
	padding: 0;
}
.navbar-default .navbar-nav li a {
    font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 30px 12px;
  transition: all 0.3s ease 0s;
  text-transform:uppercase;
  letter-spacing:2px;
}
.menu-bg .navbar-default .navbar-nav li a {
  padding: 20px 10px;
  transition: all 0.3s ease 0s;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background-color: inherit;
	color:#3597db;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:focus{
color: #fff;
}
.navbar-default .nav .drop-down {
	position: absolute;
	left: 0;
	z-index: 8;
	width: 300px;
	top: 100%;
	opacity: 0;
	background: #fff;
	visibility: hidden;
	border-top: 3px solid;
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: 999;
	-webkit-box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.40);
	-moz-box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.40);
	box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.40);
	padding: 5px 0;
}
.navbar-default .nav li:hover .drop-down{
	opacity:1;
	visibility:visible;
}
.navbar-default .nav .drop-down li {
	margin: 0;
	display:block;
	padding:2px 0px;
	border-bottom: 1px solid #f0f0f0
}
.navbar-default .nav .drop-down li a {
	color: #777;
	text-align: left;
	border-radius: 0px;
	background: transparent;
	text-transform: capitalize;
	padding: 10px 15px;
	font-weight: 400;
}
.navbar-default .nav .drop-down li a:before{
	display:none;
}
.navbar-default .nav .drop-down li:hover a{
	color:#3597db;
}
.navbar-default .nav .drop-down a i {
	margin-top: 5px;
	float: right;
	transform:translateX(0%);
}
.navbar-default .nav .drop-down li a {
    color: #444;
    text-align: left;
    border-radius: 0px;
    background: transparent;
    text-transform: capitalize;
    padding: 10px 15px;
    font-weight: 600;
}
.menu-bg .logo a, .menu-bg .navbar-default .navbar-nav li a:hover {
  color: #3597db;
}
.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #fff;
    box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
    background: #fff;
    border: none;
}
.menu-bg .navbar-nav li a{
color:#666;
}
.mobile-nav{
	display:none;
}
/*
/*
================================================
6. Slider Start
================================================
*/

/* |------------[ Animated Headline Text ]-----------| */
.slider-sec{
position: relative;
    background:url(../images/banner1.jpg);
    background-size: cover;
    z-index: 1;
}
.slider-sec h1{
color:#FFFFFF;
}
.slider-sec-text{
padding:170px 0px 160px 0px;
}

/* |------------[ Carousel ]-----------| */
.affix + .banner-wrapper {
  margin-top: 49px;
}
.welcome-hero-area, .home-slider-area, .home-slider-area div {
	height: 100%
}
.welcome-hero-area div.single-slide-item-table-cell, .welcome-hero-area div.single-slide-item-table-cell div {
  height: auto;
}
.single-slide-item-table-cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle
}
.single-slide-item-table {
	display: table;
	width: 100%
}
a.slide-btn {
	color: #fff;
	display: inline-block;
	font-weight: 400;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	padding: 12px 20px;
	width: 160px;
	transition: .5s;
	text-transform:uppercase;
}
a.slide-btn:hover {
	opacity:0.6;
	border: none
}
.single-slide-item h2 span {
	color: #2980b9
}
.single-slide-item p {
	color: #fff;
	margin-bottom: 20px
}
.fixed-bg {
	background-attachment: fixed!important
}
.slide-1, .text-slide {
	background:url(../images/sliders/05.jpg);
	background-size: cover
}
.slide-2 {
	background:url(../images/sliders/04.jpg);
	background-size: cover
}
.slide-3 {
	background:url(../images/sliders/02.jpg);
	background-size: cover
}
.slide-4, .text-slide {
	background:url(../images/sliders/09.jpg);
	background-size: cover
}
.slide-5 {
	background:url(../images/sliders/06.jpg);
	background-size: cover
}
.slide-6 {
	background:url(../images/sliders/07.jpg);
	background-size: cover
}
.slide-7, .text-slide {
	background:url(../images/sliders/10.jpg);
	background-size: cover
}
.slide-8 {
	background:url(../images/sliders/11.jpg);
	background-size: cover
}
.slide-9 {
	background:url(../images/sliders/12.jpg);
	background-size: cover
}
.slide-10, .text-slide {
	background:url(../images/sliders/17.jpg);
	background-size: cover
}
.slide-11 {
	background:url(../images/sliders/18.jpg);
	background-size: cover
}
.slide-12 {
	background:url(../images/sliders/19.jpg);
	background-size: cover
}
.slide-13, .text-slide {
	background:url(../images/sliders/14.jpg);
	background-size: cover
}
.slide-14 {
	background:url(../images/sliders/16.jpg);
	background-size: cover
}
.slide-15 {
	background:url(../images/sliders/12.jpg);
	background-size: cover
}

.single-slide-item {
	position: relative;
	z-index: 1
}
.single-slide-item:after {
	background: rgba(0,0,0,.5);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1
}
a.welcome-control:focus, a.welcome-control:hover i {
	color: #777;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .item {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.carousel-fade .carousel-control {
	z-index: 2
}
.welcome-control {
	background: 0 0!important;
	color: #fff;
	font-size: 55px;
	height: 50px;
	left: 0;
	line-height: 50px;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 50px;
	z-index: 20
}
.service-icon i, .single-featured i {
	border-radius: 50%;
	text-align: center
}
.right.welcome-control {
	left: auto;
	right: -52px
}
.left.welcome-control {
	left: -52px
}
.home-slider-area:hover .right.welcome-control {
	right: 30px;
	transition: .25s;
	-webkit-transition: .25s;
	font-size: 55px;
}
.home-slider-area:hover .left.welcome-control {
	left: 30px;
	transition: .25s;
	-webkit-transition: .25s;
	font-size: 55px;
}
.featured-area {
	overflow: hidden
}
.single-featured {
	cursor: pointer
}
.single-featured h4 {
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 10px
}
.single-featured i {
	background: #687074;
	color: #fff;
	display: block;
	font-size: 35px;
	height: 80px;
	line-height: 80px;
	margin: 0 auto 10px;
	width: 80px
}
.service-icon i, a.about-btn, a.get-start-btn, ul.team-social>li, ul.work li {
	display: inline-block
}
.single-featured:hover i {
	background: #33d685;
	color: #fff;
	-webkit-transition: .5s;
	transition: .5s
}
.home-slider-area .carousel-indicators {
  display: none;
}

/* |------------[ Particle Slider ]-----------| */

.particle-area {
   text-align:center;
position: relative;
    background:url(../images/sliders/103.jpg);
    background-size: cover;
    z-index: 1;
	padding:80px 0px;	
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.banner-text {
    padding:80px 0px;
}
/*
================================================
7. About-area Start
================================================
*/
/* |------------[ About Page-1 ]-----------| */
.about_slider-area {
    background-image:url(../images/About/1.jpg);
    background-position: center;
    background-color: #fff;
    background-repeat: no-repeat;
    width: 100%;
    height: 316px;
    position: relative;
    z-index: 1
}

.about_slider-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #393734;
    opacity: .8;
    content: "";
    z-index: -1
}

/* |------------[ About Page-2 ]-----------| */
.about-tabs .tab-btns{
	position:relative;
	z-index:1;
}

.about-tabs .tab-btns .tab-btn{
	position:relative;
	top:1px;
	display:inline-block;
	margin:0px 15px;
	font-size:20px;
	color:#999999;
	font-weight:500;
	line-height:24px;
	cursor:pointer;
	padding:12px 0px 22px;
	text-transform:capitalize;
	transition:all 500ms ease;
	border-radius:3px 3px 0px 0px;
}

.about-tabs .tab-btns .tab-btn:before{
	position:absolute;
	content:'';
	left:50%;
	bottom:0px;
	width:30px;
	height:3px;
	opacity:0;
	margin-left:-15px;
	background-color:#3597db;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.about-tabs .tab-btns .tab-btn.active-btn:before,
.about-tabs .tab-btns .tab-btn:hover::before{
	opacity:1;
}

.about-tabs .tab-btns .tab-btn:hover,
.about-tabs .tab-btns .tab-btn.active-btn{
	color:#3597db;
}

.about-tabs .tabs-content{
	position:relative;	
}

.about-tabs .tabs-content .tab{
	position:relative;
	padding:20px 0px 0px;
	display:none;
}

.about-tabs .tabs-content .tab.active-tab{
	display:block;	
}

.about-tabs .tabs-content .tab p{
	font-size:14px;
	font-weight:800;
	line-height:30px;
	margin-bottom:20px;
}

.about-tabs .tabs-content .tab p:last-child{
	margin-bottom:0px;
}

.about-tabs .tabs-content .tab h3,
.about-tabs .tabs-content .tab h4,
.about-tabs .tabs-content .tab h5,
.about-tabs .tabs-content .tab h6{
	margin-bottom:15px;	
}

.about-tabs .tabs-content .tab h4{
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
	color:#222222;
}


/* |------------[ About Page-4 ]-----------| */
.about_4-item i{
  border-radius: 50%;
  border:2px solid #3597db;
  text-align: center;
}
.about_4-item:hover i{
border:2px solid #3597db;
color:#FFFFFF;
background:#3597db;
-webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.about_4-item:hover{
-webkit-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.12);
-webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
/*
================================================
8. Counter
================================================
*/
.counters {
background-color:#f7f7f7;
}
.counter {
    padding: 25px;
    text-align: center;
    position: relative;
    top: 0;
    transition: all 0.3s cubic-bezier(0.68, -0.07, 0.25, 0.93) 0s;
}

.counter:hover {
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow: 0 25px 45px 0 rgba(0, 0, 0, 0.15);
    top: -7px;
}

.counter span {
    color: #3597db;
    font-size: 50px;
}
.counter h6{
font-weight:600;
}
/*
================================================
9. Services Area
================================================
*/
/* |------------[ Service-1 ]-----------| */
.services .item {
    padding: 30px;
    min-height: 150px;
    margin-bottom: 15px;
}
.services .section .item:hover{
    transform: scale(1.04);
    z-index: 2;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.item:hover > h3{
color:#3597db;
-webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.services .item i {
    font-size: 45px;
    color: #3597db;
}
.services .item h3 {
    margin: 15px 0 10px 0;
    font-size: 16px;
    font-weight: 600;
}
.services .item p {
    font-size: 13px;
    color: #888;
}

/* |------------[ Service-2 ]-----------| */
.services .nav {
  position: relative;
  margin: auto;
  text-align: center;
  color: #777;
}
.services .nav li {
  position: relative;
  display: inline-block;
  padding:20px;
  margin-left:15px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.services .nav li i {
  position: relative;
  font-size:24px;
  background-color: #f7f7f7;
  border: 1px solid #fff;
  line-height: 45px;
  margin-bottom: 10px;
  z-index: 1;
}
.services .nav li:hover {
  color: #3597db;
}
.services .nav li:last-child:after {
  display: none;
}
.services .content-services .item {
  position: relative;
  background-color: #FFF;
  display: none;
  overflow: hidden;
  border-radius: 8px;
}
.services .content-services .item .content-ser {
  position: relative;
  padding: 30px;
}
.services .content-services .item .content-ser button {
  margin: 0;
}
.services .content-services .item .part-img {
  position: relative;
  height: 100%;
  padding:20px 10px;
}
.services .content-services .item .fet {
  position: relative;
}
.services .content-services .item .fet .icon span {
  font-size: 4rem;
  color: #FF214f;
}
.services .content-services .item .fet h6 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.services .content-services .active {
  display: block;
  color: inherit;
}
.services .active {
  -webkit-transition: all .5s;
  transition: all .5s;
}
.services .active h6 {
  color: #3597db;
}
.services .active i {
  color: #3597db !important;
  border: none !important;
  color: #fff;
}
.services .cont-2 {
  position: relative;
  padding: 5rem;
}


/* |------------[ Service-3 ]-----------| */
.services_3 .section_3 .item:hover{
    background: #3597db !important;
    color: #fff !important;
-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	cursor:pointer;
}
.services_3 .section_3 .item{
    border: 1px solid #e9e9e9;
	padding:10px 10px 15px 15px;
	margin-bottom:20px;
   }
.services_3 .section_3 .item:hover p{
color:#FFFFFF;
}
.services_3 .section_3 .item i {
    font-size: 45px;
}
.services_3 .section_3 .item h4 {
    margin: 15px 0 10px 0;
    font-size: 16px;
    font-weight: 600;
}
.services_3 .section_3 .item p {
    font-size: 14px;
	font-weight:600;
    color: #888;
}
/*
================================================
10. Features-Area
================================================
*/
/* |------------[ Feature-1 ]-----------| */
.section .feat{
    border-radius: 25px;
    transition: all 0.3s ease;
}
.section .feat i{
color:#3597db;
}
.section .feat.active{
background:#3597db !important;
color:#fff !important;
}
.section .feat.active i, .section .feat.active h6{
color:#FFFFFF !important;
}
.section .feat:hover, .section .feat:hover i{
color:#fff;
background:#3597db;
cursor:pointer;
    transform: scale(1.04);
    z-index: 2;
-webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.section .feat-1{
background:#3597db;
}
.feat-sec:hover i{
color:#3597db;
-webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/* |------------[ Feature-2 ]-----------| */
.nav-tabs {
    border: 0;
}
.tab-content h1 {
    margin-top: 0;
}
.btn-feature.active{
background: #3597db;
    color: #fff;
}
.btn-feature {
    background-color: #f2f2f2;
	font-size:20px;
    box-shadow: none;
    border: 0;
    width: 100%;
    padding: 20px 35px;
    margin: 2px;
    text-align: left;
    font-weight: 500;
    text-decoration: none;
    display: block;
}
.btn-feature:hover,
.btn-feature:focus,
.btn-feature:active {
    border: 0;
    outline: none;
    background: #3597db;
    color: #fff;
    text-decoration: none;
}

/* |------------[ Feature-3 ]-----------| */
.features-section .single-item{
  position: relative;
  z-index: 1;
}
.features-section .single-item .icon-box i{
  position: relative;
  display: inline-block;
  background: #3597db;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  margin-top: -30px;
  top: -30px;
  transition: all 900ms ease;
}
.features-section .single-item .icon-box i:before{
  font-size: 24px;
  color: #fff;
  margin: 0px;
}
.features-section .single-item:before{
  position: absolute;
  content: '';
  background: #3597db;
  height: 3px;
  width: 0%;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  transition: all 900ms ease;
}
.features-section .single-item:hover:before{
  width: 100%;
  transition: all 900ms ease;
}
.features-section .single-item .single-content{
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 70px;
  padding: 0px 35px 0px 35px;
  transition: all 900ms ease;
}
.features-section .single-item:hover .single-content{
  height: 100%;
  transition: all 900ms ease;
}
.features-section .single-item h5{
  color: #fff;
}
.features-section .single-item:hover h5,
.features-section .single-item:hover p{
  display: block;
}
.features-section .single-item p{
  position: relative;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  display: none;
}
.features-section .single-item:hover .icon-box i{
  top: -10px;
  transition: all 900ms ease;
  margin-bottom: 70px;
}
.features-section .single-item .icon-box {
  margin-bottom: -23px;
}


/*
================================================
11. Faq
================================================
*/
.faq-section {
	position: relative;
}

.accordion-box{
	position:relative;
}

.accordion-box .block{
	position:relative;
}

.accordion-box .block .acc-btn{
	position:relative;
	font-size:16px;
	cursor:pointer;
	line-height:30px;
	padding:10px 55px 10px 10px;
	overflow:hidden;
	color:#222222;
	font-weight:700;
	background-color:#f9f9f9;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.accordion-box .block .icon-outer{
	position:absolute;
	right:20px;
	top:9px;
	width:32px;
	height:32px;
	text-align:center;
	font-size:16px;
	color:#ffffff;
	background:#3597db;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.accordion-box .block .icon-outer .icon{
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-16px;
	width:100%;
	height:32px;
	line-height:32px;
	text-align:center;
	font-size:16px;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;	
}

.accordion-box .block .icon-outer .icon-plus{
	opacity:1;
}

.accordion-box .block .icon-outer .icon-minus{
	opacity:0;
}

.accordion-box .block .acc-btn.active .icon-outer .icon-minus{
	opacity:1;
}

.accordion-box .block .acc-btn.active .icon-outer .icon-plus{
	opacity:0;
}

.accordion-box .block .acc-btn.active .icon-outer{
	background:#777;
}

.accordion-box .block .acc-content{
	position:relative;
	display:none;
	background-color:#fff;
}

.accordion-box .block .acc-content.current{
	display:block;	
}

.accordion-box .block .content{
	position:relative;
	font-size:14px;
	padding:13px 20px 25px;
	background-color:#fff;
}

.accordion-box .block .content p{
	margin-bottom:20px;
	line-height:23px;
	color:#777777;
	font-weight:600;
	font-size:14px;	
}

.accordion-box .block .content p:last-child{
	margin-bottom:0px;	
}
/*
================================================
12. Team
================================================
*/
.team{
    background-color: #fff;
}
.team .single-team:hover .teamthumb .team-social a {
    left: 0;
}

.team .single-team .teamthumb {
    position: relative;
    overflow: hidden;
}
.team .single-team .teamthumb .team-social {
    position: absolute;
    width: 60px;
    top: 40px;
    text-align: center;
    left: 10px;
}

.team .single-team .teamthumb .team-social a {
    display: block;
    width: 50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    background: #666;
    margin-bottom: 5px;
    transition: .4s;
    position: relative;
    left: -100px;
}

.team .single-team .teamthumb .team-social a:nth-child(even) {
    transition-delay: .1s;
}

.team .single-team .team-title {
    padding: 10px 20px;
    padding-top: 20px;
    border-top: 0;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.team .single-team .teamthumb .team-social a:hover {
    background: #3597db;
    color: #fff;
}

.video-area {
  background-image:url(../images/counters-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 90px;
  padding-top: 80px;
  text-align: center;
  width: 100%;
}
/*
================================================
13. Portfolio
================================================
*/
.portfolio {
	clear: both;
	float: left;
	width: 100%;
	padding: 70px 0 50px;
}
.work {
	margin-bottom: 30px;
}
.work a {
	display: block;
	overflow: hidden;
	position: relative;
}
.work-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: block;
	padding: 20px;
}
.work-inner:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	z-index: 1;
}
.work:hover .work-inner:after {
	opacity: 0.8;
}
.work-info {
	text-align: center;
	margin-top: 20%;
	top: -15px;
	position: relative;
}
.work-info h2:after {
	display:none;
	}
.work-info p, .work-info h2, .work-info i {
	position: relative;
	z-index: 2;
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.work-info h2 {
	font-size: 20px;
	color: #fff;
	top: -10px;
	margin: 0;
	padding: 0;
	line-height: 35px;
}
.work-info p {
	font-size: 12px;
	top: 10px;
	font-weight: 700;
	-webkit-transition: all 0.6s;
}
.work-info i {
	font-size: 14px;
	top: 20px;
	font-weight: 700;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	color: #333;
	background: #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.work:hover .work-info p, .work:hover .work-info h2, .work:hover .work-info i {
	opacity: 1;
	top: 0;
}
.portfolio-filter {
	list-style: none;
	margin-bottom:20px;
}
.portfolio-filter li.active, .portfolio-filter li:hover{
background:#3597db;
border:2px solid #3597db;
	color:#fff;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
	}
.portfolio-filter li {
color:#333;
	display: inline-table;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:900;
	padding: 8px 12px;
	border: 2px solid #3597db;
	margin: 0 5px 10px;
	cursor: pointer;
	position: relative;	
}

.work-popup {
	max-width: 550px;
	background: #fff;
	position: relative!important;
	margin: 30px auto;
	left: 0!important;
}
.work-info p {
    color: #3597db;
}
.work-popup img {
	width: 100%;
	height: 100%;
}
.work-popup-content {
	padding: 25px;
}
.work-popup-content h3 {
	font-size: 26px;
	margin-bottom: 20px;
}
.work-popup-content p {
	text-align: left;
	line-height: 23px;
}
.mfp-close-btn-in .mfp-close {
	position: absolute;
	background: #fff;
	font-size: 40px;
	width: 50px;
	height: 50px;
	opacity: 1;
	box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
}
/*
================================================
14. Section-part
================================================
*/
.section-part{
background-color:#f8f8f8;
padding: 40px 0px 0px 0px;
}
.section-part .sec:hover h5{
color:#3597db;
-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
/*
================================================
15. Image-bg
================================================
*/
.image-bg{
background-image:url(../images/bannerbg.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
height:auto;
}
.bottom-line{
height: 4px;
    margin: 0 auto;
    width: 30px;
	margin-bottom:50px;
	background: #fff !important;
	float:left;
}
/*
================================================
16. Pricing
================================================
*/
.pricing-item {
	position: relative;
	display: block;
    width: 100%;
    text-align: center;
	background:#fff;
    border: solid 3px #ebebeb;
    margin: 0;
    padding:0 0 30px 0;
	cursor: default;
    z-index: 1;
    margin-bottom: 30px;
	border-radius:2px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.pricing-item:hover{
	-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.15);
}
.pricing-item .pricing-title {
	margin:0;
	padding:15px 0;
}
.pricing-item .pricing-price {
	position:relative;
	background:#f4f4f4;
	padding:40px 0 35px 0;
	margin: 0 0 40px 0;
    font-size: 30px;
    color: #3f3f3f;
	font-weight:700;
}
.pricing-item.active .pricing-price {
	color:#fff;
	background-color:#3597db;
}

.pricing-item.pricing-column .pricing-price {
	background:#2f3434;
	color:#fff;
	margin:15px 0 0 0;
	padding:40px 0 40px 10px;
}

.pricing-item.pricing-column .pricing-price:before{
	display:none;
}

.pricing-item .pricing-currency {
	vertical-align: super;
    font-size: 24px;
}

.pricing-item.pricing-column .pricing-currency {
    font-size: 24px;
}

.pricing-item .pricing-period{
    font-size: 14px;
	font-weight:400;
}

.pricing-item.pricing-column  .pricing-period{
    font-size: 24px;
	line-height:24px;
}

.pricing-item .pricing-anim {
	display: inline-block;
	position: relative;
	font-size:64px;
}

.pricing-item:hover .pricing-anim {
	-webkit-animation: moveUp 0.4s forwards;
	animation: moveUp 0.4s forwards;
	-webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.pricing-item:hover .pricing-anim-2 {
	-webkit-animation-delay: 0.05s;
	animation-delay: 0.05s;
}

@-webkit-keyframes moveUp {
	50% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	51% { opacity: 0; -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	52% { opacity: 1; -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@keyframes moveUp {
	50% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	51% { opacity: 0; -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	52% { opacity: 1; -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}


.pricing-item .pricing-feature-list {
	margin: 0 0 25px 0;
	padding:0;
	list-style: none;
	text-align: center;
	background:#fff;
}

.pricing-item .pricing-feature-list li{
    border-bottom: solid 1px #ebebeb;
	padding:10px 20px 15px 20px;
}

.pricing-item.pricing-column .pricing-feature-list li{
	padding:15px 20px;
	margin:0;
	border-bottom: solid 1px #e3e3e5;
	color:#333;
	font-size:14px;
}
/*
================================================
17. Blog
================================================
*/
.blog .item-blog .img-blog a strong{
    font-size:25px;
}
.blog .item-blog .img-blog a {
  position: absolute;
  top: 0;
  left: 17%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background-color: #3597db;
  color: #fff;
  font-size:12px;
  text-align:center;
  padding:5px;
  font-weight: 400;
  border-bottom-left-radius: 10px;
}
.blog .item-blog .content-blog {
  text-align:left;
  overflow: hidden;
}
.blog .item-blog .content-blog a {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.blog .item-blog .content-blog a h6{
margin:0;
}
.blog .item-blog:hover h6 {
  color:#3597db;
-webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/* |------------[ Blog Area Section ]-----------| */

/*Blog-side-bar-tag*/
.blog_left_side_area {
    padding-right: 15px;
}
.blog_right_side_area {
    padding-left: 15px;
}
.date_position {
    position: absolute;
	top:20px;
    left: 5px;
    color: #fff;
    font-size: 14px;
    background-color: #3597db;
    padding: 7px 19px;
    display: inline-block;
}
.blog_pic {
    position: relative;
}
.blog_left_single_content h3 {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding-top: 33px;
    margin-bottom: 13px;
}
.blog_left_single_content p{
font-weight:600;
}
.blog_left_single_item {
    margin-bottom: 54px;
}
.blog_left_single_content .blog_author_area {
    padding: 10px 0px;
}
.blog_left_single_content .blog_author_area a {
    font-size: 17px;
    color: #777;
    margin-right: 25px;
    font-weight: 600;
}
.blog_left_single_content .blog_author_area a i {
    color: #3597db;
    padding-right: 10px;
}
.blog_left_side_area blockquote p {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    margin:10px;
}
/*Blog-right-side*/

.blog_right_widget {
    margin-bottom: 30px;
}
.blog_search {
    position: relative;
}
.blog_search input {
    width: 100%;
    padding: 20px 13px;
    outline: 0;
    color: #575757;
    border: 0px solid #ebebeb;
    position: relative;
    background: transparent;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 13px;
    background-color: #f9f9f9;
    border: none;
}
.blog_search_btn {
    position: absolute;
    top: 0;
    right: -2px;
}
.blog_search_btn input {
    color: #fff;
    padding: 16px 10px;
    width: 44px;
    font-family: 'FontAwesome';
    font-weight: 100;
    background-color: #3597db;
    font-size: 19px;
}
/*categoris*/
.blog_widget_title {
    font-size: 22px;
    color: #333;
    font-weight: 800;
}
.blog_widget ul li a {
    font-size: 14px;
    color: #999;
    font-weight: 600;
}
.blog_widget ul li a:hover{
color:#3597db;
}
.blog_widget ul li {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding: 10px 20px;
}
.blog_widget ul li:last-child {
    margin-bottom: 0;
}
/*Latest-News*/


.popular-post {
    position: relative;
}

.popular-post .item {
    position: relative;
    font-size: 14px;
    margin-bottom: 13px;
    min-height: 50px;
    color: #cccccc;
    border-bottom: 1px solid #f1f1f1;
}

.popular-post .item:last-child{
    border-bottom: 0px;
}
.popular-post .item .post-thumb{
    position:absolute;
    left:0px;
    top: 5px;
    width: 90px;
    height: 90px;
}

.popular-post .item .post-thumb img{
    width:100%;
    display:block;  
}


.popular-post .item .post-thumb a{
  position: relative;
}
.popular-post .item .post-thumb a:after {
    position: absolute;
    content: "\f0c1";
    font-family: FontAwesome;
    left: 0px;
    top: 0px;
    text-align: center;
    line-height: 80px;
    width: 100%;
    height: 100%;
    background: rgba(72, 199, 236, 0.9);
    color: #ffffff;
    opacity: 0;
    transition: .5s ease;
}
.popular-post .item .post-thumb:hover a:after {
  opacity: 1;
  transition: .5s ease;
}

.popular-post .item a:hover{
  color: #3597db;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.popular-post .item h4{
    position: relative;
    top: 8px;
    font-size: 16px;
	letter-spacing:2px;
    font-weight: 800;
    margin: 0px 0px 17px;
    line-height: 26px;
    color:#333;
}
.popular-post .item h4 a{
    color: #333;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.recent-posts.post-thumb .post .post-info{
    font-size: 14px;
    font-weight:400;
    margin:0px;
    line-height:1.6em;
    color: #9c9c9c;
}
.popular-post .item .post-info {
color:#777;
font-size: 15px;
    font-weight: bold;
	padding-bottom:10px;
    }

.inner-title {
  position: relative;
  margin-bottom: 20px;
  margin-top: 45px;
}


.inner-title h4 {
  position: relative;
  font-size: 22px;
  color: #333;
  font-weight:800;
}


/*project*/
.blog_widget_tag li a {
    display: inline-block;
    border: 1px solid #e4e4e4;
    font-size: 15px;
    line-height: 45px;
    padding: 0px 16px;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}
.blog_widget_tag ul li{
    margin-bottom: 5px;
    display: inline-block;
}
.blog_widget_tag ul li a:hover{
color:#fff;
}
.blog_widget_tag ul li:hover a {
    border-color: #3597db;
    background: #3597db;
    color: #fff;
}
/*archive*/

.blog_widget select {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    text-transform: capitalize;
    outline: 0;
    height: 45px;
    font-size: 14px;
    color: #999999;
    margin-bottom: 18px;
    background-color: #f9f9f9;
    padding: 0 10px;
    border: none;
}
.blog_widget select option {
    color: #999;
}
/*pagination*/

.blog_pagination .pagination {
    margin: 0;
    border-radius: 0;
    margin-top: 15px;
}
.blog_pagination .pagination>li:first-child>a {
    border-radius: 0;
    border-radius: 15px;
}
.blog_pagination .pagination>li:last-child>a {
    border-radius: 0;
    border-radius: 15px;
}
.blog_pagination .pagination li a {
    margin-right: 10px;
    border-radius: 15px;
    background-color: #f9f9f9;
    border: none;
}
.blog_pagination .pagination li.active a, .blog_pagination .pagination li a:hover{
    background-color: #3597db;
    border: none;
    color: #fff
}
/*Comment- area*/
.blog_single_area .title{
  position: relative;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #222;
  font-weight: 700;
  margin-bottom: 47px;
} 
.blog_single_area .title:before{
  position: absolute;
  content: '';
  background: #48c7ec;
  height: 2px;
  width: 40px;
  left: 0px;
  bottom: -7px;
}
.blog_single_area .connent-area .comment-box{
  position: relative;
  padding: 0px 0px 14px 95px;
  margin-bottom: 55px;
  border-bottom: 1px solid #eee;
}
.blog_single_area .connent-area .comment-box .img-box{
  position: absolute;
  left: 0px;
  top: 6px;
}
.blog_single_area .connent-area .comment-box .comment-title{
  display: inline-block;
}
.blog_single_area .connent-area .comment-box .comment-inner{
margin-left:15px;
}
.blog_single_area .connent-area .comment-box .comment-time{
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: #666;
  line-height: 23px;
  margin-left: 10px;
}
.blog_single_area .connent-area .comment-box .button{
  position: relative;
  display: inline-block;
  float: right;
  top: -5px;
  right: 5px;
}
.blog_single_area .connent-area .comment-box .button a:hover{
background-color:#3597db;
border:2px solid #3597db;
color:#fff;
}
.blog_single_area .connent-area .comment-box .button a{
  color: #3597db;
  display: inline-block;
  line-height: 35px;
  width: 80px;
  text-align: center;
  border: 2px solid #eee;
  font-weight: 800;
  text-transform: uppercase;
}
.blog_single_area .connent-area .comment-box .button i:before{
  color: #666;
  margin-right: 6px;
  font-size: 12px;
}
.blog_single_area .connent-area .comment-box .text{
  margin-top: 10px;
}
.blog_single_area .connent-area .comment-box h5{
  margin-bottom: 0px;
}
.blog_single_area .comment-form{
  position: relative;
}
.blog_single_area .comment-form input,
.blog_single_area .comment-form textarea{
  position: relative;
  width: 100%;
  height: 50px;
  background: #f6f8fa;
  margin-bottom: 30px;
  color: #222;
  padding: 15px 20px;
}
.blog_single_area .comment-form textarea{
  height: 150px;
  resize: none;
  margin-bottom: 21px;
}
/*latest blog*/

.latest_blog_section_area {
    background-color: #f9f9f9;
    padding: 90px 0px 65px;
    overflow: hidden;
}
.single_blog_item_area {
    margin-bottom: 30px;
}
.single_blog_h_active {
    margin-top: 30px;
}
.single_blog_item_area .meta{
padding-top:20px;
}
.single_blog_item_area .meta li {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
    line-height: 23px;
    font-weight: 800;
    color: #666;
}
.single_blog_item_area h3 {
    font-size: 18px;
    margin-top: 14px;
	text-transform:uppercase;
    font-weight: 800;
}
.single_blog_item_area p{
font-weight:600;
}
.single_blog_item_div h2 {
    color: #949494;
    font-size: 50px;
    font-weight: 700;
}
.single_blog_item_div h2 span {
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin-top: 17px;
    margin-bottom: 39px;
}
.single_blog_item_div h2 a {
    color: #008cb5;
}
.single_blog_h_active .owl-nav div {
    height: 35px;
    width: 35px;
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 60%;
    line-height: 35px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -34%;
    font-size: 18px;
    color: #3a3a3a;
}
.single_blog_h_active .owl-nav div.owl-next {
    right: 0;
    left: -28%;
}
/*tag*/

.blog_tag a {
    background-color: #3597db;
    color: #fff;
    padding: 6px 15px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.blog_tag {
    margin-top: 45px;
}
/*share*/

.share_blog_single_in_social h4 {
    margin: 0;
    color: #4d4d4d;
    font-size: 22px;
}
.share_blog_single_in_social h4 span {
    margin-right: 15px;
}
.share_blog_single_in_social h4 a {
    color: #999;
    font-size: 14px;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 5px;
}
.share_blog_single_in_social {
    margin-top: 38px;
}
/*form section*/

.consultency_comments_form {
    margin-top: 60px;
}
.comments_title {
    margin: 0px;
    color: #4d4d4d;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 33px;
}
.consultency_comments_form .form-control {
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    border: 1px solid #ebebeb;
    height: 50px;
    font-size: 13px;
    color: #000;
    margin-bottom: 20px;
    background-color: transparent;
}
.consultency_comments_form textarea.form-control {
    height: 200px;
    resize: none;
}
.consultency_comments_form .form-group {
    margin-bottom: 5px;
}

/*
================================================
18. Client
================================================
*/
.client {
	text-align:center;
	position:relative;
	    padding: 60px 0px 60px 0px;
}
.client-logo a {
	opacity:0.4;
	display:table;
	margin:0 auto;
}
.client-logo a:hover {
	opacity:1;
	transition:all 0.5s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-webkit-transition: all 0.8s;
}


/*--------------------------------------------------------------
19. Footer
--------------------------------------------------------------*/
.footer{
background-color:#f5f5f5;
border-top: 2px solid #3597db;
}
.footer .logo a{
color:#3597db;
}
.sidebar-post li {
list-style-type:none;
  margin-bottom: 10px; 
  }
  .sidebar-post li a {
    color: #444;
    margin-top: 10px;
    font-size: 15px;
	font-weight:600;
	}
    .sidebar-post li a:hover {
      color: #3597db; }

.sidebar-gallery {
  display:block;
   }
  .sidebar-gallery li {
    float: left;
    width: 29%;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden; }

.footer-social li {
  display: inline-block; 
  }
  .footer-social li a {
    background: #555;
    padding: 10px 13px;
    color: #fff; 
    border-radius: 5%;
	}
  .footer-social li:hover a {
    background: #3597db;
	 }



/*
================================================
 20 Contact US
================================================
*/
.outer-box {
    width: 85%;
    margin: 0 auto;
}
.contact-us ul {
    padding: 0;
}
.contact-us li {
    color: #fff;
    margin-bottom: 25px;
	display:block;
}
.contact-us li .box a{
color:#FFFFFF;
}
.contact-us li .box:hover{
background-color:#333;
color:#FFFFFF;
cursor:pointer;
-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.contact-us li .box {
    background: #3597db;
    padding: 30px 20px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
.contact-us .fa {
display:block;
    font-size: 30px;
    margin: 0 0 10px 0;
    color: #fff;
}
.form-box {
    padding: 35px 20px;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
    background: #fff;
    border-radius: 4px;
}
.contact-us input,
.contact-us textarea {
    background: none;
    border: 1px solid #dadada;
    box-shadow: none;
    height: 40px;
    color: #333;
}
.contact-us textarea {
    height: 150px;
}

.contact-us select{
  height: 40px !important;
}
.txt_area{
  height: 80px !important;
}
.form-heading{
  font-size: 16px;
    line-height: 30px;
    padding: 5px 55px 5px 5px;
    overflow: hidden;
    color: #222222;
    font-weight: 700;
    background-color: #ebecf3;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
}
.error{
  color: #cd0404;
    font-size: 11px;
    font-weight: 100;
}
.require-label{
  color: red;
}
.alert{
  position: fixed;
    left: 0;
    top: 62px;
    right: 0;
    z-index: 9999;
    text-align: center;
}
.mem-reg-btn{
  color: #FFFFFF !important;
  background: #207616;
  border: 2px solid #3597db;
}
.mem-reg-btn:hover{
   background: #3597db !important;
}
.sub-btn{
 border-radius: 25px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #3597db;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    background: #3597db;
}
footer{
  background: #3597db;
  
}
footer p{
  color: #ffffff;
}