@media (max-width: 1199px){
form.patient_form {
    padding: 10px 20px 10px 20px;
}
}

@media (max-width: 991px){
#map-sec{
    display: inherit;
}
}

@media (max-width: 767px){
.navbar-fixed-top{
	position: relative;
	box-shadow: 0px 3px 10px #ccc;
}
.header-navbar .navbar-container ul.nav li a.dropdown-user-link {
    padding: 5px 10px;
}
a.menu-srink{
	border: none;
}
a.menu-srink i{
    padding: 0;
    margin: 0;
    line-height: 16px;
    display: block;
}
.navbar-brand {
    padding: 8px 20px;
    height: 40px;
}
.navbar-brand>img {
    display: block;
    width: 80px;
}
.navbar{
	min-height: 40px;
}
a.menu-srink {
    padding: 0px 0px;
    margin: 10px 10px;
}
}

@media (max-width: 479px){

}